
        <h3 class="card-header bg-dark text-white">Lista de Frameworks JS</h3>
        <div class="card-deck">
            
                  <div *ngFor="let producto of productos" class="card">

                    <div  class="text-center ">
                      <img src="{{producto.imagenRuta}}" class="tamañoImagen card-img-top img-fluid" alt="...">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <p class="card-text">{{producto.descripcion}}</p>
                        
                      </div>
                    </div>

                    

            
               
       
                  
                </div>
             

                
            
        